body {
    margin: 0;
    padding: 0;
    background-color: #aad4cf; /* blue color of the whole background.*/
  }
  
.container {
    max-width: 800px; 
    margin: auto; 
    padding: 0px 50px 0px 50px; /* set the top, right, bottom and left. */
    box-sizing: border-box; 
  }

.header-container {
    position: relative;
    display: inline-block;
  }

.header-container img {
    display: block; /*the block element can set the width and height.*/ 
    max-width: 100%; /*ensure that its width does not exceed its container*/   
    height: auto; /*the height is automatically adjusted.*/
    padding-bottom: 0px;
    margin-bottom: 0;
  }
  
.header-container h1 {
    position: absolute;/*make sure the words on top of the image*/
    top: 50%;
    left: 50%;/*adjust the top and left to center the headline.*/
    transform: translate(-50%, -50%);
    z-index: 1;/*place the title on top of the image.*/
    color: #fff;
    font-size: 2.8rem;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}
  
main {
    background-color: #dae9e7;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-top: 0px;
    border-top: 0px;
  }

h2,h3 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 6px;
}
section p, ul {
    font-size: 8px;
    line-height: 1.2;
    font-weight: 400;
}

li {
    line-height: 1;
}

section img {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 20px;
  }

ul {
    padding-left: 12px;
}

form {
    border: 1px solid black;
    padding-top: 15px;
    padding-right: 1px ;
    padding-bottom: 15px;
    margin-bottom: 20px ;

}
input[type=text] {
    width: 95%;
    border:1px solid lightgray;
    margin-left: 12px;
    padding: 2px;
  }

label {
    font-size: 12px;
    font-weight:bold;
    margin-left: 10px;
}

#ymsg {
    height: 80px;
    border: 1px solid darkgray;
}

#choose {
    font-size: 12px;
    font-weight:bold;
    margin-left: 10px;
}

h4{
    font-size: medium;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px ;
    padding-right: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2px;
    border:1px solid black;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
footer {
    font-size: 12px;
    text-align: right;
    font-weight: bold;
}
